@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");
.sectionCategoria {
  list-style: none;
  letter-spacing: none;
  display: flex;
  padding: 5px;
  justify-content: space-evenly; }
  .sectionCategoria a {
    color: white;
    text-decoration: none; }
  .sectionCategoria .categoria1,
  .sectionCategoria .categoria2,
  .sectionCategoria .categoria3,
  .sectionCategoria .categoria4,
  .sectionCategoria .categoria5 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin: 20px;
    background-color: #bd7ac5;
    transition-property: all;
    transition-duration: 2s; }
    .sectionCategoria .categoria1:hover,
    .sectionCategoria .categoria2:hover,
    .sectionCategoria .categoria3:hover,
    .sectionCategoria .categoria4:hover,
    .sectionCategoria .categoria5:hover {
      background-color: #8a39d6; }

.secionAll {
  display: flex;
  justify-content: center;
  align-items: center; }
  .secionAll .informacionContactos {
    height: 100vh;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    padding: 20px;
    margin-bottom: 15px;
    margin-top: 15px;
    width: 600px;
    border: 2px solid #000; }
    .secionAll .informacionContactos .tituloContactanos {
      text-align: center;
      letter-spacing: 5px;
      color: black;
      margin-bottom: 10px; }
    .secionAll .informacionContactos .nombre {
      background: transparent;
      border: none;
      border-bottom: 1px solid #000; }
    .secionAll .informacionContactos .categoriaContactos {
      text-align: left;
      margin-left: 220px; }
  .secionAll form {
    background-image: url(../img/fondoContactos.png);
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: black;
    padding: 20px;
    box-sizing: border-box; }

.sectionNosotros {
  height: 450px;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px 80px 10px 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px 50px;
  grid-template-areas: "img titulo" "img parrafo"; }
  .sectionNosotros .formatoImagenSobreNosotros {
    grid-area: img;
    border-radius: 50%;
    height: 400px;
    width: 400px;
    border: outset; }
  .sectionNosotros .parrafoSomos {
    font-size: large;
    text-transform: uppercase;
    padding: 15px;
    grid-area: parrafo;
    color: #000; }
    .sectionNosotros .parrafoSomos p {
      padding: 10px; }

.tituloSomos {
  color: black;
  background-color: #da91f7;
  margin-bottom: 30px;
  grid-area: titulo; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  background-color: white; }

.bcheader {
  background-color: #da91f7; }

.bcbody {
  background-color: #fff; }

h4 {
  background-color: #fff;
  font-size: large;
  margin-bottom: 10px; }

.titulos, .titulos1 {
  color: white;
  text-align: center;
  letter-spacing: 3px;
  font-size: large;
  border: 1px groove white;
  background-color: #9f56a8; }

.titulos1 {
  letter-spacing: none; }

h1 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 8px;
  color: white;
  padding: 5px; }

h2 {
  color: white;
  text-align: center;
  letter-spacing: 3px;
  font-size: large;
  border: 1px groove white;
  background-color: #9f56a8; }

header {
  background-color: #da91f7; }

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap; }
  .container .formatoEspacio {
    display: flex;
    flex-direction: row;
    background-color: #f7c3f4;
    height: 330px;
    width: 240px;
    justify-content: center;
    align-items: center;
    margin: 5px; }
    .container .formatoEspacio h4 {
      background-color: none;
      text-align: center; }
    .container .formatoEspacio p {
      margin-top: 5px;
      text-align: center; }
    .container .formatoEspacio .imagen {
      height: 200px;
      width: 200px;
      border: outset;
      margin: 0; }
    .container .formatoEspacio .botonCompra {
      text-decoration: none;
      height: 40px;
      width: 80px;
      background-color: #bd7ac5;
      border-radius: 10%;
      justify-content: center;
      justify-items: center;
      color: white; }
      .container .formatoEspacio .botonCompra:hover {
        background-color: rgba(255, 255, 255, 0.77);
        color: black; }

footer {
  display: flex;
  justify-content: space-evenly;
  padding: 20px; }
  footer div {
    display: inline-block;
    margin-left: 10px;
    background-color: #bd7ac5; }

.formatoContactos {
  color: white;
  background-color: #bd7ac5; }

@media (min-width: 320px) {
  .sectionNosotros {
    margin: 0;
    height: 400px;
    justify-items: center;
    justify-content: center;
    gap: 0;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "img" "titulo" "parrafo"; }
    .sectionNosotros p {
      font-size: small;
      padding: 0; }
    .sectionNosotros .formatoImagenSobreNosotros {
      margin-top: 5px;
      height: 200px;
      width: 200px; }
    .sectionNosotros .tituloSomos {
      font-size: small;
      color: white;
      background-color: black;
      padding: 10px;
      margin: 0; }
  .sectionCategoria {
    display: flex;
    flex-wrap: wrap; }
    .sectionCategoria .categoria1,
    .sectionCategoria .categoria2,
    .sectionCategoria .categoria3,
    .sectionCategoria .categoria4,
    .sectionCategoria .categoria5 {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      height: 80px;
      width: 80px;
      margin: 5px;
      background-color: #bd7ac5; }
  .container .formatoEspacio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; } }

@media (min-width: 500px) {
  .seccionAll {
    width: 450px; } }

@media (min-width: 600px) {
  .imagen {
    height: 150px;
    width: 150px; } }

@media (min-width: 768px) {
  .sectionNosotros {
    height: 350px;
    margin: 10px;
    gap: 10px 10px;
    grid-template-areas: "img titulo" "img parrafo"; }
    .sectionNosotros p {
      padding: 5px; }
    .sectionNosotros .formatoImagenSobreNosotros {
      height: 300px;
      width: 300px; }
  .container .formatoEspacio .imagen {
    height: 200px;
    width: 200px; } }

@media (min-width: 1025px) {
  .sectionNosotros {
    height: 450px;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px 80px 10px 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px 50px;
    grid-template-areas: "img titulo" "img parrafo"; }
    .sectionNosotros p {
      font-size: large; }
    .sectionNosotros .formatoImagenSobreNosotros {
      grid-area: img;
      border-radius: 50%;
      height: 400px;
      width: 400px;
      border: outset; }
    .sectionNosotros .tituloSomos {
      font-size: 32px;
      color: black;
      background-color: #da91f7;
      margin-bottom: 30px; }
  .container {
    display: flex;
    justify-content: space-between; } }
